<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxMLbvn_XRX_zR2CsU557ZmyITgJQ9Tgo</string>
	<key>GCM_SENDER_ID</key>
	<string>311835153173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskcw6</string>
	<key>PROJECT_ID</key>
	<string>taskcw6-d1f51</string>
	<key>STORAGE_BUCKET</key>
	<string>taskcw6-d1f51.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311835153173:ios:aa5d78d04cab5f0f9e4f1c</string>
</dict>
</plist>